/* caoursel service cartagena */

/*Left + Right Triggers*/

.trig {
    width: 25px;
    height: 25px;
    vertical-align: center;
    text-align: center;
    border: solid 2px $rose-claire;
    position: absolute;
    border-radius: 50%;
    z-index: 2;

    top: 24% ;
  }
  
  .trig:hover {
    cursor: pointer;
  }
  
  .l-trig {
    left: 10px;
  }
  
  .r-trig {
    right: 10px;
  }
  
  .l-trig span:nth-child(1) {
    background-color: $rose-claire;
    position: absolute;
    width: 3px;
    height: 45%;
    transform: rotate(45deg);
    top: 2px;
    left: 7px;
    border-radius: 3px;
  }
  
  .l-trig span:nth-child(2) {
    background-color: $rose-claire;
    position: absolute;
    width: 3px;
    height: 45%;
    transform: rotate(-45deg);
    bottom: 4px;
    left: 7px;
    border-radius: 3px;
  }
  
  .r-trig span:nth-child(1) {
    background-color: $rose-claire;
    position: absolute;
    width: 3px;
    height: 45%;
    transform: rotate(-45deg);
    top: 3px;
    right: 7px;
    border-radius: 3px;
  }
  
  .r-trig span:nth-child(2) {
    background-color: $rose-claire;
    position: absolute;
    width: 3px;
    height: 45%;
    transform: rotate(45deg);
    bottom: 3px;
    right: 7px;
    border-radius: 3px;
  }
  .caroussel {
    flex-basis: 100% !important;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background-color: white !important;
    border-radius: 5px;
    column-gap: 25px;
  }
  #display_img {
    position: absolute;
    top: 0;
    border: none;
    border-radius: 20px;
    width: 100% !important;
    height: 200px;
    object-fit: cover;
    margin-top: 5px;
  }
  .gal_img {
    width: 33% ;
    height: 100px;
    position: relative;
    bottom: 70px;
    border-radius: 20px;
    object-fit: cover;
    
  }
  .gal_img:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 900px) {
    .caroussel {
      width: 400px;
      height: 400px;
      display: flex;
      background-color: lightgrey;
      justify-content: center;
      align-items: flex-end;
      position: relative;
    }
    #display_img {
      position: absolute;
      top: 0;
      width: 100% !important;
      height: 350px;
    }
    .gal_img {
      width: 33%;
      border-radius: 20px;
      height: 150px;
      position: relative;
      bottom: -150px;
      margin: 0;
    }
    .gal_img-middle {
      margin: 0 20px;
    }
  
    .gal_img:hover {
      cursor: pointer;
    }
    .trig {
      top: 170px;
    }
    .trig:hover {
      cursor: pointer;
    }
  }
  